layout {
    pane size=1 borderless=true {
        plugin location="compact-bar"
    }
    pane split_direction="vertical" {
        pane size="33%" name="pi agen" command="zsh" {
            args "-ic" "eval \"$(direnv export zsh)\"; pi; exec zsh -i"
        }
        pane stacked=true {
            pane expanded=true focus=true name="nvim" command="zsh" {
                args "-ic" "eval \"$(direnv export zsh)\"; nvim; exec zsh -i"
            }
            pane name="zsh"
        }
    }
}
