#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=AccèsD
Exec=/opt/google/chrome/google-chrome --app=https://accesd.desjardins.com/
Icon=/home/hdemers/.icons/desjardins.jpg
StartupWMClass=accesd.desjardins.com
