#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=AWS Console
Exec=/opt/google/chrome/google-chrome "--app=https://console.aws.amazon.com/ec2/home"
Terminal=false
Icon=/home/hdemers/.icons/awsconsole.png
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=console.aws.amazon.com__ec2_home
StartupNotify=true
