#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Box - 10GB of FREE storage
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ejnkaeblpdcamcioiiabclakabcbjmbl
Icon=chrome-ejnkaeblpdcamcioiiabclakabcbjmbl-Default
StartupWMClass=crx_ejnkaeblpdcamcioiiabclakabcbjmbl
Name[en_CA]=Box
