#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Google+
Exec=/opt/google/chrome/google-chrome --app=https://plus.google.com/
Terminal=false
Icon=/home/hdemers/.icons/google+.png
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=plus.google.com
StartupNotify=true
X-Ayatana-Desktop-Shortcuts=OODA;BullBear

[OODA Shortcut Group]
Name=OODA Google+
Exec=/opt/google/chrome/google-chrome --app='https://plus.google.com/u/2/'
TargetEnvironment=Unity

[BullBear Shortcut Group]
Name=BullBear Google+
Exec=/opt/google/chrome/google-chrome --app='https://plus.google.com/u/1/'
TargetEnvironment=Unity
