#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Feedly
Exec=/opt/google/chrome/google-chrome "--app=http://cloud.feedly.com/"
Terminal=false
Icon=/home/hdemers/.icons/feedly.png
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=www.feedly.com__home
