#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=FreshBooks
Exec=/opt/google/chrome/google-chrome --app=https://my.freshbooks.com
Icon=/home/hdemers/.icons/freshbooks.png
StartupWMClass=huguesdemers.freshbooks.com__home
