#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=GistBox
Exec=/opt/google/chrome/google-chrome --app-id=caoihfibgoiiakncomhccbflmlgjaohf --profile-directory=Default
Icon=/home/hdemers/.icons/gistbox.png
StartupWMClass=crx_caoihfibgoiiakncomhccbflmlgjaohf


