#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=GistBox
Exec=/opt/google/chrome/chrome --app=https://app.gistboxapp.com/library/my-gists
Icon=/home/hdemers/.icons/gistbox.png
StartupWMClass=app.gistboxapp.com__library_my-gists
