#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=GitHub
Exec=/opt/google/chrome/google-chrome --app=https://github.com
Terminal=false
Icon=/home/hdemers/.icons/github_128.png
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=github.com
StartupNotify=true
