#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=pjkljhegncpnkpknbcohdijeoejaedia
Icon=chrome-pjkljhegncpnkpknbcohdijeoejaedia-Default
StartupWMClass=crx_pjkljhegncpnkpknbcohdijeoejaedia
Actions=Calendar;Drive;Google+

[Desktop Action Calendar]
Name=Calendar
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ejjicmeblgpmajnghnpcppodonldlgfn
Icon=chrome-ejjicmeblgpmajnghnpcppodonldlgfn-Default
TargetEnvironment=Unity

[Desktop Action Drive]
Name=Drive
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=apdfllckaahabafndbhieahigkjlhalf
Icon=chrome-apdfllckaahabafndbhieahigkjlhalf-Default
TargetEnvironment=Unity

[Desktop Action Google+]
Name=Google+
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=dlppkpafhbajpcmmoheippocdidnckmm
Icon=chrome-dlppkpafhbajpcmmoheippocdidnckmm-Default
TargetEnvironment=Unity

