#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=kmhopmchchfpfdcdjodmpfaaphdclmlj
#Icon=chrome-kmhopmchchfpfdcdjodmpfaaphdclmlj-Default
Icon=/home/hdemers/.icons/google.png
StartupWMClass=crx_kmhopmchchfpfdcdjodmpfaaphdclmlj
Actions=Maps;Photos;Allo;Messages;Hangouts

[Desktop Action Maps]
Name=Maps
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=kahknhdklbnmafmcllfgljbjfiljaobp
TargetEnvironment=Unity

[Desktop Action Photos]
Name=Photos
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ncmjhecbjeaamljdfahankockkkdmedg
TargetEnvironment=Unity

[Desktop Action Allo]
Name=Allo
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=cajbgbmecddcnkcblkimmhachjkinkob
TargetEnvironment=Unity

[Desktop Action Messages]
Name=Messages
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ofnenkbipokecifhaklmjdlhhjfjaoan
TargetEnvironment=Unity

[Desktop Action Hangouts]
Name=Hangouts
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=odadmohlkalmmfdgjdlbjdpoekbijhcc
