#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Jira
#Exec=/opt/google/chrome/google-chrome --app=https://grubhub.okta.com/home/bluejeans/0oa10c5xkoOGrioZd0x7/3313?fromHome=true
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=gccanddkhndhpppblebkpilmpjhkmkma
Icon=/home/hdemers/.icons/grubhub.jpg
StartupWMClass=crx_gccanddkhndhpppblebkpilmpjhkmkma
Actions=Gmail;Calendar;Drive;Sheets;Docs;Slides;Meet;Splunk;Jenkins Prod;Jenkins Dev;Azkaban Dev;Azkaban Prod;Redash Prod

[Desktop Action Sheets]
Name=Sheets
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=fhihpiojkbmbpdjeoajapmgkhlnakfjf
Icon=chrome-fhihpiojkbmbpdjeoajapmgkhlnakfjf-Profile_1
StartupWMClass=crx_fhihpiojkbmbpdjeoajapmgkhlnakfjf
TargetEnvironment=Unity

[Desktop Action Docs]
Name=Docs
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=mpnpojknpmmopombnjdcgaaiekajbnjb
Icon=chrome-mpnpojknpmmopombnjdcgaaiekajbnjb-Profile_1
StartupWMClass=crx_mpnpojknpmmopombnjdcgaaiekajbnjb
TargetEnvironment=Unity

[Desktop Action Slides]
Name=Slides
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=kefjledonklijopmnomlcbpllchaibag
Icon=chrome-kefjledonklijopmnomlcbpllchaibag-Profile_1
StartupWMClass=crx_kefjledonklijopmnomlcbpllchaibag
TargetEnvironment=Unity

[Desktop Action Meet]
Name=Meet
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=kjgfgldnnfoeklkmfkjfagphfepbbdan
Icon=chrome-kjgfgldnnfoeklkmfkjfagphfepbbdan-Profile_1
StartupWMClass=crx_kjgfgldnnfoeklkmfkjfagphfepbbdan
TargetEnvironment=Unity

[Desktop Action Splunk]
Name=Splunk
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=beghlpifdnagmcbfobladpabfjmdhgkm
Icon=chrome-beghlpifdnagmcbfobladpabfjmdhgkm-Profile_1
StartupWMClass=crx_beghlpifdnagmcbfobladpabfjmdhgkm

[Desktop Action Drive]
Name=Drive
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=aghbiahbpaijignceidepookljebhfak
Icon=chrome-aghbiahbpaijignceidepookljebhfak-Profile_1
StartupWMClass=crx_aghbiahbpaijignceidepookljebhfak

[Desktop Action Jenkins Prod]
Name=Jenkins Prod
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=dfagidhihdklkmbpmflbmbkcdmchhllj
Icon=chrome-dfagidhihdklkmbpmflbmbkcdmchhllj-Profile_1
StartupWMClass=crx_dfagidhihdklkmbpmflbmbkcdmchhllj

[Desktop Action Jenkins Dev]
Name=Jenkins Dev
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=njhadgabbflkbblkmnojfnjbckeejhfm
Icon=chrome-njhadgabbflkbblkmnojfnjbckeejhfm-Profile_1
StartupWMClass=crx_njhadgabbflkbblkmnojfnjbckeejhfm

[Desktop Action Azkaban Dev]
Name=Azkaban Dev
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=ibbdkilmijedcgegiklljokknlfmojmg
Icon=chrome-ibbdkilmijedcgegiklljokknlfmojmg-Profile_1
StartupWMClass=crx_ibbdkilmijedcgegiklljokknlfmojmg

[Desktop Action Azkaban Prod]
Name=Azkaban Prod
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=kpbijcboefcompmjlimmkkjkocleillo
Icon=chrome-kpbijcboefcompmjlimmkkjkocleillo-Profile_1
StartupWMClass=crx_kpbijcboefcompmjlimmkkjkocleillo

[Desktop Action Redash Prod]
Name=Redash Prod
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=pkajkinjcfllocmcfpnoefpceikjdhhm
Icon=chrome-pkajkinjcfllocmcfpnoefpceikjdhhm-Profile_1
StartupWMClass=crx_pkajkinjcfllocmcfpnoefpceikjdhhm

[Desktop Action Calendar]
Name=Calendar
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=kjbdgfilnfhdoflbpgamdcdgpehopbep
Icon=chrome-kjbdgfilnfhdoflbpgamdcdgpehopbep-Profile_1
StartupWMClass=crx_kjbdgfilnfhdoflbpgamdcdgpehopbep

[Desktop Action Gmail]
Name=Gmail
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=pjkljhegncpnkpknbcohdijeoejaedia
Icon=chrome-pjkljhegncpnkpknbcohdijeoejaedia-Profile_1
StartupWMClass=crx_pjkljhegncpnkpknbcohdijeoejaedia
