[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=[Plugins] - (~) - GVIM
Icon=gvim
Exec=gvim
StartupNotify=false
StartupWMClass=Gvim
OnlyShowIn=Unity;
X-UnityGenerated=true
