#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Inbox by Gmail
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=pkclgpgponpjmpfokoepglboejdobkpl
Icon=chrome-pkclgpgponpjmpfokoepglboejdobkpl-Default
StartupWMClass=crx_pkclgpgponpjmpfokoepglboejdobkpl
Name[en_CA]=Inbox
