#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Jira
Exec=/opt/google/chrome/google-chrome --app=https://flatworld.atlassian.net/browse/CBEAN?selectedTab=com.atlassian.jira.jira-projects-plugin:summary-panel
Icon=/home/hdemers/.icons/jira.jpg
StartupWMClass=jira.com
