#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Pinboard
Exec=/opt/google/chrome/google-chrome --app=http://pinboard.in/u:hdemers
Terminal=false
Icon=/home/hdemers/.icons/pinboard.jpg
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=pinboard.in__u_hdemers
Name[en_CA]=pinboard
