#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Pocket : Queue
Exec=/opt/google/chrome/google-chrome --app=http://getpocket.com/a/queue/
Terminal=false
Icon=/home/hdemers/.icons/pocket.jpg
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=getpocket.com__a_queue
Name[en_CA]=Pocket
