#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Untitled message - Scratchpad
Exec=/opt/google/chrome/google-chrome --app=chrome-extension://kjebfhglflhjjjiceimfkgicifkhjlnm/index.html
Terminal=false
Icon=/home/hdemers/.icons/scratchpad.png
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=kjebfhglflhjjjiceimfkgicifkhjlnm__index.html
Name[en_CA]=Scratchpad
