#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Slack
Exec=/opt/google/chrome/google-chrome --app=https://zoomer.slack.com/messages/general/
Icon=chrome-https___zoomer.slack.com_messages_general_
StartupWMClass=zoomer.slack.com__messages_general
Name[en_CA]=Slack
