#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Songza
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=fkeajmjljcfdkfefondeknpbfcmnpkjl
Icon=/home/hdemers/.icons/songza.png
StartupWMClass=crx_fkeajmjljcfdkfefondeknpbfcmnpkjl
