#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Twitter
Exec=/opt/google/chrome/google-chrome --app=https://twitter.com/
Terminal=false
Icon=/home/hdemers/.icons/twitter.jpg
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=twitter.com
