#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Wunderlist
Exec=/opt/google/chrome/google-chrome --app=http://www.wunderlist.com/home
Terminal=false
Icon=/home/hdemers/.icons/wunderlist.png
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=www.wunderlist.com__home
StartupNotify=true
